---
Language: Cpp
BasedOnStyle: Google
Standard: c++17
AccessModifierOffset: -4
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
  # 1) Third-party / framework headers (ROS, Eigen, OpenCV, etc.)
  - Regex: '^<[^>]*[/.][^>]*>$'
    Priority: 1
  # 2) C/C++ standard library headers
  - Regex: '^<.*>$'
    Priority: 2
  # 3) Project headers
  - Regex: '.*'
    Priority: 3
SortIncludes: true
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
